<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8">
  <title>Konfirmasi Pemesanan</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>
  <img src="{{ url_for('static', filename='image/Cine_Zone.png') }}" width="180" style="position: absolute; top: 5px; left: 5px;">
  <div class="confirm-box">
    <h2>Detail Pembelian Tiket</h2>

    <p><strong>Film:</strong> <span id="film"></span></p>
    <p><strong>Jam Tayang:</strong> <span id="jadwal"></span></p>
    <p><strong>Jumlah Kursi:</strong> <span id="jumlah"></span></p>
    <p><strong>Harga per Kursi:</strong> <span id="harga"></span></p>
    <p><strong>Total Harga:</strong> <span id="total"></span></p>

    <p><strong>Apakah kamu sudah yakin?</strong></p>

    <form action="/submit_booking" method="POST" class="button-group">
      <input type="hidden" name="film" id="inputFilm">
      <input type="hidden" name="jadwal" id="inputJadwal">
      <input type="hidden" name="jumlah" id="inputJumlah">
      <input type="hidden" name="harga" id="inputHarga">
      <button type="button" id="backBtn">Kembali</button>
      <button type="submit" id="confirmBtn">Beli</button>
    </form>
  </div>
</body>
</html>
