<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8" />
  <title>Dracula - Booking Kursi</title> 
  <link rel="stylesheet" href="/static/css/styles.css" />

  <style>
    body {
      font-family: Arial, sans-serif;
      background-image: url("/static/image/mikel_bckground.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      color: white;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  </style>

</head>
<body>
    <img src="{{ url_for('static', filename='image/Cine_Zone.png') }}" width="100" style="position: absolute; top: 5px; left: 5px;">
  <div class="center-wrapper">
    <div class="container">
      <h1 id="judulFilm">DRACULA</h1> 
    <div style="text-align: center; margin-top: 10px;">
        <img src="{{ url_for('static', filename='image/Draculas.png') }}" alt="Dracula Poster" style="max-width: 200px; height: auto; border-radius: 8px;">
    </div>
    
      <p class="price">Harga: Rp50.000,00</p>

      <div class="schedule">
        <label>Pilih Jadwal:</label>
        <select id="jadwal">
          <option value="19:00">19:00</option>
          <option value="21:00">21:00</option>
          <option value="23:30">23:30</option>
        </select>
      </div>

      <div class="input-section">
        <label for="jumlah">Jumlah Kursi:</label>
        <input type="number" id="jumlah" min="1" placeholder="Masukkan jumlah kursi" />
      </div>

      <button id="beliBtn">BELI</button>
    </div>
  </div>
  <script src="/static/js/script.js"></script>
</body>
</html>
