<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DRACULA - Detail Film</title>
    <link rel="stylesheet" href="../static/css/tampilan3.css" />
</head>
<body>
    <header class="main-header">
        <div class="logo">
            <img src="../static/image/Logo_CineZone.png" alt="Logo Film">
        </div>
    </header>

    <div class="movie-page-container">
        <div class="movie-poster-section">
            <img src="../static/image/Draculas.png" alt="mikel Poster">
        </div>
        <div class="movie-info-section">
            <h1 class="movie-title">DRACULA</h1>
            <div class="movie-meta-and-trailer">
                <div class="movie-metadata">
                    <span class="rating-info">CINEZONE</span>
                    <span>2h 5min</span>
                </div>
            </div>
            <p class="movie-description">Mikel hanyalah manusia biasa—pemuda sederhana yang hidup tenang bersama kekasihnya, Valen. Tapi segalanya berubah saat Valen diserang oleh makhluk kegelapan dan terancam kehilangan nyawanya. Dalam keputusasaan, Mikel melakukan hal yang tak pernah dibayangkan: meminta pertolongan dari makhluk malam.

Dihadapkan pada pilihan mustahil—melihat Valen mati atau mengorbankan kemanusiaannya—Mikel memilih cinta. Ia menerima kutukan darah dan menjadi Dracula, raja kegelapan baru, demi menyelamatkan satu-satunya orang yang berarti baginya.

Namun cinta yang ia selamatkan kini terancam oleh bayang-bayang baru: para pemburu vampir, pengkhianatan dari sesama makhluk malam, dan sisi gelap dalam dirinya yang semakin sulit dikendalikan. Di antara cahaya dan kegelapan, Mikel harus bertanya:
Berapa harga cinta… jika harus kehilangan jiwanya sendiri?.</p>
            <div class="movie-actions">
                <button class="button">BUY TICKETS</button>
            </div>
            <div class="rating-placeholder">
                <p>N/A</p>
            </div>
        </div>
    </div>
</body>
</html>