<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DREAMS - Detail Film</title>
    <link rel="stylesheet" href="../static/css/tampilan4.css" />
</head>
<body>
    <header class="main-header">
        <div class="logo">
            <img src="../static/image/Logo_CineZone.png" alt="Logo Film">
        </div>
    </header>

    <div class="movie-page-container">
        <div class="movie-poster-section">
            <img src="../static/image/Dreams.jpg" alt="Daniel Poster">
        </div>
        <div class="movie-info-section">
            <h1 class="movie-title">DREAMS</h1>
            <div class="movie-meta-and-trailer">
                <div class="movie-metadata">
                    <span class="rating-info">CINEZONE</span>
                    <span>2h 30min</span>
                </div>
            </div>
            <p class="movie-description">Daniel Ardiansyah, pemuda cerdas asal Indonesia, menembus dunia elit akademik dengan diterima di University of Oxford. Berasal dari keluarga sederhana, Daniel datang ke Inggris dengan satu mimpi besar: menjadi rich man, orang sukses yang bisa membalas perjuangan keluarganya dan mengubah hidupnya.

Di tengah kesibukan kuliah, tekanan hidup, dan budaya asing yang membingungkan, Daniel bertemu Karina Bluu, mahasiswi asal Korea Selatan yang memesona dengan kelembutan, kecerdasan, dan pandangan hidup yang membumi. Mereka berasal dari dunia yang berbeda, tapi pertemuan-pertemuan kecil di lorong kampus, perpustakaan, dan kafe Oxford menjelma menjadi benih cinta yang hangat.

Hubungan mereka tumbuh perlahan, indah, dan penuh makna. Karina bukan hanya kekasih, tapi juga sahabat dan pengingat arah ketika Daniel hampir tersesat dalam ambisinya. Bersama, mereka belajar bahwa mimpi tak hanya soal pencapaian, tapi juga tentang dengan siapa kamu menjalaninya.

Namun saat Daniel mulai mendapat tawaran besar menuju kesuksesan yang ia impikan sejak lama, ia dihadapkan pada pilihan sulit: mengejar dunia yang ia impikan, atau menjaga cinta yang justru membuatnya manusia seutuhnya.

"Dream" adalah kisah cinta lintas budaya tentang dua jiwa muda yang bertemu jauh dari rumah, saling mencintai, dan saling membentuk. Sebuah cerita tentang mimpi, cinta, dan pilihan yang menentukan arah hidup selamanya.

.</p>
            <div class="movie-actions">
                <button class="button">BUY TICKETS</button>
            </div>
            <div class="rating-placeholder">
                <p>N/A</p>
            </div>
        </div>
    </div>
</body>
</html>