<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8" />
  <title>Dreams - Booking Kursi</title> 
  <link rel="stylesheet" href="/static/css/styles.css" />
  <link rel="icon" href="{{ url_for('static', filename='image/Logo_CineZone_aja.png') }}" type="image/png" />
</head>
<body>
  <img src="{{ url_for('static', filename='image/Cine_Zone.png') }}" width="180" style="position: absolute; top: 5px; left: 5px;">

  <div class="center-wrapper">
    <div class="container">
      <h1 id="judulFilm">DREAMS</h1> 

    <div style="text-align: center; margin-top: 10px;">
        <img src="{{ url_for('static', filename='image/Dreams.jpg') }}" alt="Dracula Poster" style="max-width: 200px; height: auto; border-radius: 8px;">
    </div>


      <p class="price">Harga: Rp50.000,00</p>

      <div class="schedule">
        <label>Pilih Jadwal:</label>
        <select id="jadwal">
          <option value="12:00">12:00</option>
          <option value="14:00">14:00</option>
          <option value="18:00">18:00</option>
        </select>
      </div>

      <div class="input-section">
        <label for="jumlah">Jumlah Kursi:</label>
        <input type="number" id="jumlah" min="1" placeholder="Masukkan jumlah kursi" />
      </div>

      <button id="beliBtn">BELI</button>
    </div>
  </div>
  <script src="/static/js/script.js"></script>
</body>
</html>
