<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="../static/css/otp2_beda_background.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>

    <div class="container step1">
        <h2>Forget your password?</h2><br>
        <p>Please enter your email to receive a one-time password (OTP).</p>
        <div class="form-group">
            <input type="email" id="email" placeholder="Email Address"><br><br>
        </div>
        <button onclick="sendOTP()" class="nextButton">Send OTP &rarr;</button>
    </div>


    <div class="container step2" style="display:none">
        <h2>Verifikasi OTP</h2><br>
        <p>Kode OTP telah dikirim ke <span id="verifyEmail"></span></p>

        <div class="otp-form">
            <p>Enter the 4 digit OTP code:</p>
            <div class="otp-group">
                <input type="number" maxlength="1">
                <input type="number" maxlength="1">
                <input type="number" maxlength="1">
                <input type="number" maxlength="1">
            </div>
            <p>
                Tidak menerima kode?
                <a href="javascript:void(0)" onclick="resendOTP()">Resend</a>
                <p id="status" style="color: red; text-align:center;"></p>
            </p>
        </div>
        <button onclick="verifyOTP()" id="verifyButton" class="next_button">Verification &rarr;</button>
    </div>

  

    <script src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>
    <script>
        emailjs.init("VBI2S5EbHIb55SZTm"); 
    </script>


    <script src="../static/js/forgot_password.js"></script>
</body>
</html>
