<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="../static/image/Logo_CineZone_aja.png" type="image/png" />
  <title>CineZone - Website</title>
  <link rel="stylesheet" href="../static/css/halaman_depan.css" />
</head>
<body>
  <div class="container">
    <header>
    <img src="../static/image/CineZoneHeader.png" alt="CineZone Logo"/>
    <nav>
      <a href="#">Home</a>
      <a href="#NowShowing">Now Showing</a>
      <a href="#Schedule">Schedule</a>
    </nav>
    </header>

  <pembatas>
  </pembatas>

  <section>
    <h2>Now Showing</h2>
    <div class=" bagian-movie">
      <div class="poster-movie">
        <img src="../static/image/seanman.jpg" alt="SeanMan" />
        <div class="overlay">
          <h4>SeanMan</h4>
          <button>Book Now</button>
        </div>
      </div>
      <div class="poster-movie">
        <img src="../static/image/Chitato.jpg" alt="Chitatto" />
        <div class="overlay">
          <h4>Chitatto</h4>
          <button>Book Now</button>
        </div>
      </div>
      <div class="poster-movie">
        <img src="../static/image/Dreams.jpg" alt="Dreams" />
        <div class="overlay">
          <h4>Dreams</h4>
          <button>Book Now</button>
          </div>
      </div>
      <div class="poster-movie">
        <img src="../static/image/Draculas.png" alt="Dracula" />
        <div class="overlay">
          <h4>Dracula</h4>
          <button>Book Now</button>
          </div>
      </div>
    </div>
    <h2>Coming Soon to CineZone</h2>
    <div class="bagian-coming">
      <div class="poster-coming">
        <img src="../static/image/Pembunuhan.png" alt="Pembunuhan" />
        <div class="overlay">
          <h4>Pembunuhan</h4>
          <button>Book Now</button>
        </div>
      </div>
      <div class="poster-coming">
        <img src="../static/image/Exorcism Indo.png" alt="Exorcism Indo" />
        <div class="overlay">
          <h4>Exorcism Indo</h4>
          <button>Book Now</button>
        </div>
      </div>
      <div class="poster-coming">
        <img src="../static/image/Elegant Pirate.jpg" alt="Elegant Pirate" />
        <div class="overlay">
          <h4>Elegant Pirate</h4>
          <button>Book Now</button>
        </div>
      </div>
      <div class="poster-coming">
        <img src="../static/image/CrazyCarIndonesia.png" alt="Crazy Car Indonesia" />
        <div class="overlay">
          <h4>Crazy Car Indonesia</h4>
          <button>Book Now</button>
        </div>
      </div>
    </div>
  </section>

  <footer>
    <p>&copy; 2025 CineZone. All rights reserved.</p>
  </footer>
  </div>
  
</body>
</html>
