<!doctype html>
<<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OTP Generator With Email Verification</title>
    <link rel="stylesheet" href="../static/css/OTP.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container step1">
        <h2>OTP Verfication</h2><br></br>
        <h3>Enter your email address</h3><br></br>
        <p>You will receive an email with a one-time password</p>

        <div class="form-group">
            <input type="email" id="emailAddress" placeholder="Email Address" onkeyup="validateEmail(this.value)"><br></br>
            
        </div>
        <button id="nextButton" class="nextButton disable">Next &rarr;</button>
    </div>

        <div class="container step2">
        <h2>OTP Verfication</h2><br></br>
        <h3>Enter one-time password</h3><br></br>
        <p>one-time password has been sent to <span id="verifyEmail"></span></p>

        <div class="otp-form">
            <p>Enter the 4 digit code we sent you via email to continue
            <div class="otp-group">
                <input type="number" >
                <input type="number" >
                <input type="number" >
                <input type="number" >

            </div>
            <p>
                Not your email? / Didn't receive the code?
                <a href=""javascript:void(0)">Try again</a>"
            </p>
            
        </div>
        <button class="next_button" id="verifyButton">Verify &rarr;</button>



    </div>

        <div class="container step3">
        <h2>Congratulation</h2><br></br>
        <p>Welcome 🥳 to Home Page </p>
        <img src="../static/image/checklist.png" alt="Checklist" >



        <h3>Enter your email address</h3><br></br>
        <p>You will receive an email with a one-time password</p>

        <div class="form-group">
            <input type="email" id="emailAddress" placeholder="Email Address" ><br></br>
            
        </div>
        <button class="next_button">Next &rarr;</button>

    </div>
    

   
    <script src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>
    <script>
    emailjs.init("VBI2S5EbHIb55SZTm"); 
    </script>



    <script src="/group_1/static/js/OTP.js"></script>

</body>
</html>