<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" href="../static/css/OTP.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='image/Logo_CineZone_aja.png') }}" type="image/png" />
</head>
<body>

    <div class="container step1">
        <h1>Sign Up</h1><br>
        <h2>Create your account</h2><br>
        <p>Please enter your details below to receive a verification code.</p>

        <div class="form-group">
            <input type="text" id="username" placeholder="Username"><br><br>
            <input type="email" id="emailAddress" placeholder="Email Address" onkeyup="validateEmail(this.value)"><br><br>
            <input type="password" id="password" placeholder="Password"><br><br>
        </div>
        <button id="nextButton" class="nextButton disable">Next &rarr;</button>

        <p class="login-link">
            Already have an account?
            <a href="{{ url_for('login') }}">Click here to log in</a>.
        </p>

    </div>


    <div class="container step2" style="display:none">
        <h2>OTP Verification</h2><br>
        <h3>Enter One-Time Password</h3><br>
        <p>One-time password has been sent to <span id="verifyEmail"></span></p>

        <div class="otp-form">
            <p>Enter the 4-digit code we sent you via email to continue</p>
            <div class="otp-group">
                <input type="number" maxlength="1">
                <input type="number" maxlength="1">
                <input type="number" maxlength="1">
                <input type="number" maxlength="1">
            </div>
            <p>
                Not your email? / Didn't receive the code?
                <a href="javascript:void(0)" onclick="resendOTP()">Try again</a>
            </p>
        </div>
        <button class="next_button disable" id="verifyButton">Verify &rarr;</button>
    </div>


    <div class="container step3" style="display:none">
        <h2>Congratulations</h2><br>
        <p>Welcome 🥳 please login first</p>
        <img src="../static/image/checklist.png" alt="Checklist">
    </div>


    <script src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>
    <script>
        emailjs.init("VBI2S5EbHIb55SZTm"); 
    </script>

    <!-- OTP Logic -->
    <script src="../static/js/OTP.js"></script>
</body>
</html>
