<<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>
    <h1>LOGIN PAGE</h1>
    {% if error %}
        <h3 style="color: red;">{{ error }}</h3>
    {% endif %}
        <form method="POST" action="/login">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required><br><br>
            <button type="submit">Login</button>
    </form>
</body>
</html>