<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SEANMAN - Detail Film</title>
    <link rel="stylesheet" href="../static/css/tampilan_film.css" />
</head>
<body>
    <header class="main-header">
        <div class="logo">
            <img src="../static/image/Logo_CineZone.png" alt="Logo Film">
        </div>
    </header>

    <div class="movie-page-container">
        <div class="movie-poster-section">
            <img src="../static/image/seanman.jpg" alt="Seanman Poster">
        </div>
        <div class="movie-info-section">
            <h1 class="movie-title">SEANMAN</h1>
            <div class="movie-meta-and-trailer">
                <div class="movie-metadata">
                    <span class="rating-info">CINEZONE</span>
                    <span>2h 15min</span>
                </div>
            </div>
            <p class="movie-description">Sean, seorang pemuda nelayan biasa, hidupnya berubah drastis saat ia menemukan trisula legendaris di reruntuhan kota bawah laut. Trisula itu memberinya kemampuan luar biasa: bernapas di dalam air, mengendalikan arus laut, dan memanggil kekuatan badai.

Namun, kekuatan besar itu membangkitkan musuh yang telah lama tidur: Leviathan, raja monster laut raksasa, dan pasukan bawah lautnya yang menyeramkan—penjaga laut gelap, hiu baja, dan siluman arus hitam. Mereka menganggap Sean sebagai ancaman bagi keseimbangan dunia bawah laut.

Dengan trisula di tangannya dan keberanian di dadanya, Sean harus bertarung untuk mempertahankan lautan, melindungi dunia atas, dan membuktikan bahwa pahlawan sejati bisa lahir dari tempat yang paling sederhana.</p>
            <div class="movie-actions">
                <button class="button"  onclick="window.location.href='{{ url_for('seanman') }}'">BUY TICKETS</button>
            </div>
            <div class="rating-placeholder">
                <p>N/A</p>
            </div>
        </div>
    </div>
</body>
</html>