body {
    background-image: url("/static/image/cinema_for_login.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

.login-container {
    background: #2e2e2e; 
    width: 400px;
    border-radius: 5px;
    padding: 30px 25px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

h2 {
    margin-bottom: 20px;
    color: #f0f0f0; 
}

input[type="text"],
input[type="email"],
input[type="password"] {
    height: 35px;
    width: 80%;
    font-size: 15px;
    padding: 10px;
    margin: 10px 0;
    outline: none;
    background-color: #444; 
    color: #f0f0f0;
    border: 1px solid #666;
    border-radius: 4px;
}

input::placeholder {
    color: #bbb;
}

.login-button {
    width: 100%;
    height: 45px;
    font-size: 19px;
    background-color: #ff0829;
    border-radius: 30px;
    border: none;
    color: #ffffff;
    cursor: pointer;
    margin-top: 15px;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: #cc061f;
}

.forget-password {
    margin-top: 15px;
}

.forget-password a {
    color: #ff657d;
    text-decoration: none;
    font-size: 14px;
}

.forget-password a:hover {
    text-decoration: underline;
}
