body {
    background-image: url("/static/image/cinema_for_background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    background: #e8d58d;
    width: 400px;
    border-radius: 8px;
    padding: 25px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    color: #333;
}

.container h1,
.container h2 {
    font-size: 28px;
    margin-bottom: 15px;
    color: #3b2e1f;
}

.form-group {
    margin: 20px 0;
}

.form-group input {
    height: 35px;
    width: 80%;
    font-size: 15px;
    padding: 15px;
    outline: none;
    border: 1px solid #cba135;
    background-color: #fdfaf0;
    color: #4a3f2a;
    border-radius: 6px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.form-group input::placeholder {
    color: #6b5f4a;
    opacity: 0.8;
}

.form-group input:focus {
    border-color: #d1a942;
    box-shadow: 0 0 5px #e6c679;
}

button {
    width: 100%;
    height: 45px;
    cursor: pointer;
    font-size: 19px;
    background-color: #cba135;
    border-radius: 30px;
    border: none;
    color: #ffffff;
    margin-bottom: 20px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #b88e2f;
}

.otp-form {
    display: block;
    margin: 20px;
    color: #2d8a4b;
}

.otp-group {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin: 20px;
}

.otp-group input {
    height: 50px;
    width: 50px;
    padding: 5px;
    font-size: 25px;
    text-align: center;
    outline: none;
    border: none;
    border-bottom: 2px solid #cba135;
    background-color: #fdfaf0;
    color: #4a3f2a;
    border-radius: 4px;
}

.otp-group input::placeholder {
    color: #6b5f4a;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

img {
    height: 150px;
    margin: 15px;
}

button.disable {
    opacity: 0.5;
    pointer-events: none;
    user-select: none;
}
