body {
    background-color: #000;
    font-family: Arial, sans-serif;
    color: #fff;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.movie-card {
    display: flex;
    background-color: #1a1a1a;
    border-radius: 8px;
    overflow: hidden;
    width: 75%;
}

.movie-poster img {
    width: 300px;
    height: auto;
    object-fit: cover;
}

.movie-details {
    padding: 20px;
    flex: 1;
}

.movie-details h1 {
    font-size: 24px;
    margin: 0;
}

.genre {
    display: inline-block;
    background-color: #e50914;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 10px 0;
}

.rating {
    font-size: 16px;
    margin-bottom: 10px;
}

.movie-details p {
    color: #b3b3b3;
}

.buttons {
    margin-top: 20px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
